---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: governmentpaas/git-ssh

inputs:
- name: slack-payload
- name: commit-queue

run:
  path: ci/scripts/slack-send
  dir: commit-queue